@font-face {
  font-family: futuraptl;
  src: url("../fonts/FuturaPTLight.otf"); }

@font-face {
  font-family: futuraptm;
  src: url("../fonts/FuturaPTMedium.otf"); }

@font-face {
  font-family: futuraptb;
  src: url("../fonts/FuturaPTBold.otf"); }

@font-face {
  font-family: trumpb;
  src: url("../fonts/trump_gothic_east_bold.ttf"); }

html, body {
  height: 100%;
  width: 100%; }

body {
  font-size: 20px;
  padding: 0;
  margin: 0;
  font-family: futuraptl, sans-serif;
  font-weight: 300;
  line-height: 24px;
  font-size: 38px;
  color: #333; }

.marginb {
  margin-left: 5px;
  margin-right: 5px; }

.marginr {
  margin-right: 7px; }

.marginlm {
  margin-left: -30px; }

.txt-1 {
  font-size: 12px;
  letter-spacing: 0.18em; }

.txt-2 {
  font-size: 14px;
  line-height: 14px;
  font-family: futuraptm, sans-serif;
  font-weight: 600;
  margin-bottom: 10px; }

.txt-3 {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -2px; }

.cap {
  font-size: 14px;
  letter-spacing: 0.2em;
  color: #666;
  margin-top: 50px;
  margin-bottom: 10px; }

.topic {
  font-size: 46px;
  line-height: 52px;
  margin-bottom: 36px; }

a {
  color: #fff;
  text-decoration: none; }
  a:visited {
    color: #fff; }
  a:hover {
    color: #fff;
    text-decoration: none; }

p {
  margin: 0; }

h1 {
  font-family: trumpb, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  margin-top: 10px;
  margin-bottom: 30px; }

h2 {
  font-size: 46px;
  line-height: 52px;
  color: #222;
  margin-top: 0;
  margin-bottom: 30px; }

h3 {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.14em;
  color: #999;
  margin-top: 138px;
  margin-bottom: 3px; }

.header {
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 40px;
  color: #fff; }
  .header .top-menu {
    position: fixed; }
    .header .top-menu img {
      height: 15px; }
    .header .top-menu .all-works {
      display: inline-block;
      margin-left: 10px; }
      .header .top-menu .all-works:hover .box {
        animation-name: jello;
        animation-duration: 2s; }
        .header .top-menu .all-works:hover .box .sq-1 {
          transform: translate(1px, 1px); }
        .header .top-menu .all-works:hover .box .sq-2 {
          transform: translate(-1px, 1px); }
        .header .top-menu .all-works:hover .box .sq-3 {
          transform: translate(1px, -1px); }
        .header .top-menu .all-works:hover .box .sq-4 {
          transform: translate(-1px, -1px); }
      .header .top-menu .all-works p {
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 3px;
        display: inline-block; }
      .header .top-menu .all-works .box {
        height: 13px;
        width: 13px;
        display: inline-block;
        position: relative;
        margin-bottom: -2px;
        margin-left: -2px; }
        .header .top-menu .all-works .box .sq-1, .header .top-menu .all-works .box .sq-2, .header .top-menu .all-works .box .sq-3, .header .top-menu .all-works .box .sq-4 {
          height: 5px;
          width: 5px;
          display: inline-block;
          border: 1px solid #fff;
          position: absolute;
          transition: all 0.3s linear; }
        .header .top-menu .all-works .box .sq-1, .header .top-menu .all-works .box .sq-3 {
          left: 0; }
        .header .top-menu .all-works .box .sq-2, .header .top-menu .all-works .box .sq-4 {
          right: 0; }
        .header .top-menu .all-works .box .sq-3, .header .top-menu .all-works .box .sq-4 {
          bottom: 0; }
    .header .top-menu .hamburger-cont {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      display: -webkit-inline-flex;
      display: -moz-inline-flex;
      display: -ms-inline-flex;
      display: -o-inline-flex;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -5px;
      left: 145px;
      transition: all 0.5s;
      border: 1px solid rgba(255, 255, 255, 0);
      box-shadow: 0 0 0px #fff; }
      .header .top-menu .hamburger-cont:hover {
        border: 1px solid white;
        box-shadow: 0 0 15px #fff;
        animation-name: pulse;
        animation-duration: 2s; }
      .header .top-menu .hamburger-cont .hamburger {
        height: 13px;
        width: 18px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        flex-direction: column; }
        .header .top-menu .hamburger-cont .hamburger .bar {
          height: 1px;
          width: 18px;
          background-color: #fff;
          border-radius: 4px; }

.top-composition .circle {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-image: url("../img/bg.jpg");
  background-size: 1265px;
  background-position: -383px -71px;
  position: absolute;
  left: 42.5px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: imagedown;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-duration: 1.5s;
  animation-delay: 2s; }
  .top-composition .circle .txt-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .top-composition .circle .txt-block p {
      display: inline-block;
      margin-left: -6px; }
    .top-composition .circle .txt-block .border {
      height: 1px;
      width: 220px;
      background-color: #fff;
      opacity: 0.3; }
    .top-composition .circle .txt-block img {
      margin-top: 10px;
      height: 60px;
      animation-name: blur;
      animation-delay: 0.8s; }

.scroll {
  position: fixed;
  bottom: 80px;
  left: 15px;
  font-size: 11px;
  line-height: 15px;
  font-weight: 200;
  letter-spacing: 2px;
  transform: rotate(-90deg); }
  .scroll p {
    display: inline-block;
    position: relative;
    top: -1.7px;
    left: 15px; }
  .scroll i {
    font-size: 15px; }

.language {
  position: fixed;
  bottom: 35px;
  right: 48px; }
  .language ul {
    list-style-type: none; }
    .language ul li {
      font-size: 11px;
      font-weight: 400;
      letter-spacing: 0.2em;
      line-height: 38px;
      display: inline-block; }

.main-block {
  padding-top: 140px;
  background-image: url("../img/circle.png");
  background-repeat: no-repeat;
  background-size: 500px 500px;
  background-position: center;
  background-attachment: fixed; }
  .main-block span {
    color: #888; }
  .main-block .head {
    margin-bottom: 150px; }
    .main-block .head .left {
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      letter-spacing: 0.2em; }
    .main-block .head .right {
      font-size: 24px;
      line-height: 30px;
      text-align: justify; }

.body {
  margin-bottom: 140px; }
  .body .video {
    height: 550px;
    width: 100%;
    background-image: url("../img/video.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 50px; }
  .body .desc {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 135px; }
  .body .big-p {
    width: 100%;
    height: 710px;
    background-image: url("../img/big-p.jpg");
    background-size: cover;
    background-position: center; }
  .body .gallery img {
    height: 262px;
    display: inline-block;
    margin-bottom: 10px; }

.foot .names {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 100px; }
  .foot .names .name {
    margin-bottom: 6px;
    letter-spacing: 1px; }

.foot .staff {
  margin-bottom: 100px; }
  .foot .staff .people {
    margin-top: 15px; }
    .foot .staff .people img {
      height: 275px;
      margin-bottom: 20px; }
    .foot .staff .people p {
      display: inline-block; }
      .foot .staff .people p span {
        color: #333; }

.foot .projects img {
  height: 207px; }

@-webkit-keyframes blur {
  from {
    opacity: 0;
    filter: blur(100px); }
  to {
    opacity: 1;
    filter: blur(0px); } }

@keyframes blur {
  from {
    opacity: 0;
    filter: blur(100px); }
  to {
    opacity: 1;
    filter: blur(0px); } }

@-webkit-keyframes imagedown {
  from {
    background-size: 1280px;
    background-position: -390px -103px; }
  to {
    background-size: 1280px;
    background-position: -550px -170px; } }

@keyframes imagedown {
  from {
    background-size: 1265px;
    background-position: -383px -71px; }
  to {
    background-size: 1280px;
    background-position: -550px -170px; } }
